.task-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
}
.create-task-button-container{
    width: 100%;
    background-color: #2c3e50;
    text-align: right;
}
.create-task-btn{
    background-color: #2c3e50;
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    width:40%;
    min-width: 400px;
    border: none;
    text-align: right;
    padding-right: 20px;
}
.create-task-btn:hover{
    color: #1abc9c;
}
.task-form{
    padding-right: 20px;
    width: 45%;
    color: aliceblue;
    font-size: 1.2rem;
    height: auto;
}
.task-form-div{
    width: 100%;
    background-color:#2c3e50 ;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 5px 0px;
}
label{
    min-width: 90px;
}
#name{
    min-width: 100px;
    width: 75%;
    height: 30px;
}
#description{
    min-width: 100px;
    width: 75%;
    height: 100px;
}
#date{
    min-width: 100px;
    width: 75%;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}
.btn{
    width: 120px;
    height: 35px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: aliceblue ;
    border: 3px solid #2c3e50;
}
.cancel-btn:hover{
    background-color: rgb(228, 122, 122);
}
.submit-btn:hover{
    background-color: #1abc9c;
}

.shrunk{
    display: none;
}